@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v2/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymuFpmJxAct.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9zoKmNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
.landing-body {
  width: 100%;
}
.landing-body .landing-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/images/rv-on-lake.png");
  background-size: cover;
  background-position: center 75%;
  background-repeat: no-repeat;
  height: 94vh;
}
.landing-body .landing-container .landing-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.landing-body .landing-container .landing-content .heading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.landing-body .landing-container .landing-content .heading h1 {
  font-size: 10rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.landing-body .landing-container .landing-content .heading h1 img {
  width: 30%;
}
.landing-body .landing-container .landing-content .heading-btn {
  margin: 3vh 0;
  margin-top: 7vh;
  text-align: center;
  width: 90%;
  background: #DF7325;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.landing-body .landing-container .landing-content .heading-btn:hover {
  background: #c56520;
  transition: 1s;
}
@media (max-width: 500px) {
  .landing-body .landing-container .landing-content .heading-btn {
    margin-top: 15vh;
  }
}
.landing-body .landing-container .landing-content .heading-btn a {
  font-size: 2.5rem;
  font-family: 'Public Sans', sans-serif;
  width: 100%;
  transition: 1s;
  color: white;
  text-decoration: none;
}
@media (max-width: 500px) {
  .landing-body .landing-container .landing-content .heading-btn a {
    font-size: 3rem;
  }
}
.landing-body .arrow-down {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.landing-body .arrow-down .arrow-container img {
  height: 5vh;
  transition: 3s;
}
.landing-body .arrow-down .arrow-container img:hover {
  transition: 1s;
  transform: scale3d(1.1, 1.1, 1.1);
}
.bg-one {
  position: absolute;
  background: rgba(114, 95, 89, 0.85);
  border-radius: 5px;
  height: 50vh;
  left: 1rem;
  right: 1rem;
  z-index: -10;
}
.bg-two {
  position: absolute;
  background: rgba(62, 51, 47, 0.75);
  border-radius: 5px;
  top: 20rem;
  left: 10rem;
  width: 50%;
  height: 70vh;
  z-index: -9;
}
.bg-three {
  position: absolute;
  background: rgba(170, 127, 63, 0.65);
  border-radius: 5px;
  top: 40rem;
  right: 5rem;
  width: 50%;
  height: 65vh;
  z-index: -8;
}
@media (max-width: 500px) {
  .bg-three {
    right: 1vw;
    height: 55vh;
  }
}
.bg-four {
  position: absolute;
  background: rgba(146, 109, 53, 0.4);
  border-radius: 5px;
  top: 70rem;
  left: 5rem;
  width: 48%;
  height: 50vh;
  z-index: -8;
}
@media (max-width: 500px) {
  .bg-four {
    top: 42rem;
    left: 1vw;
  }
}
.about-us {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .about-us {
    width: 100%;
  }
}
.about-us .about-container {
  width: 70%;
  padding: 5% 10% 10% 10%;
}
@media (max-width: 800px) {
  .about-us .about-container {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .about-us .about-container {
    width: 100%;
  }
}
.about-us .about-container .about-title {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2vh;
  margin-right: 1vw;
}
@media (max-width: 500px) {
  .about-us .about-container .about-title {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
}
.about-us .about-container .about-title h2 {
  font-family: 'Public Sans', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  color: white;
}
@media (max-width: 500px) {
  .about-us .about-container .about-title h2 {
    font-size: 5rem;
  }
}
.about-us .about-container .text-img-cont {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2% 5%;
  background: white;
  border-radius: 10px;
}
.about-us .about-container .text-img-cont .about-text {
  text-align: right;
}
.about-us .about-container .text-img-cont p {
  font-size: 2rem;
  line-height: 1.75;
  font-family: 'Public Sans', sans-serif;
}
@media (max-width: 800px) {
  .about-us .about-container .text-img-cont p {
    font-size: 1.75rem;
  }
}
@media (max-width: 500px) {
  .about-us .about-container .text-img-cont p {
    font-size: 1.6rem;
  }
}
.about-us .about-container .text-img-cont p .bold {
  font-weight: 600;
}
.about-us .about-container .text-img-cont p .underline {
  text-decoration: underline;
}
.about-us .about-container .text-img-cont .rv-img-cont {
  margin-top: 2vh;
}
.about-us .about-container .text-img-cont .rv-img-cont img {
  width: 100%;
  border-radius: 5px;
}
.line-break {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5vh 0;
}
.line-break hr {
  width: 90%;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}
.meet-the-team {
  text-align: right;
  margin-right: 10rem;
}
@media (max-width: 800px) {
  .meet-the-team {
    text-align: center;
    margin: 0;
  }
}
.meet-the-team h2 {
  font-family: 'Public Sans', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: black;
}
@media (max-width: 800px) {
  .meet-the-team h2 {
    font-size: 4rem;
  }
}
.who-we-are {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .who-we-are {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article {
    margin-top: 5vh;
  }
}
.who-we-are .who-container article .bio-cont {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2vh;
}
@media (max-width: 800px) {
  .who-we-are .who-container article .bio-cont {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article .bio-cont {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
}
.who-we-are .who-container article .bio-cont .img-cont {
  width: 40%;
}
@media (max-width: 800px) {
  .who-we-are .who-container article .bio-cont .img-cont {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article .bio-cont .img-cont {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article .bio-cont .img-cont img {
    border-radius: 5px;
  }
}
.who-we-are .who-container article .bio-cont .bio-text {
  width: 40%;
}
@media (max-width: 800px) {
  .who-we-are .who-container article .bio-cont .bio-text {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article .bio-cont .bio-text {
    width: 100%;
  }
}
.who-we-are .who-container article .bio-cont .bio-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 0.5vh;
}
@media (max-width: 800px) {
  .who-we-are .who-container article .bio-cont .bio-text h2 {
    margin-top: 2vh;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article .bio-cont .bio-text h2 {
    margin-top: 1vh;
  }
}
.who-we-are .who-container article .bio-cont .bio-text h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2vh;
  margin-left: 0.5vw;
}
.who-we-are .who-container article .bio-cont .bio-text p {
  font-family: 'Public Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
@media (max-width: 800px) {
  .who-we-are .who-container article .bio-cont .bio-text p {
    font-size: 1.9rem;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article .bio-cont .bio-text p {
    font-size: 1.8rem;
  }
}
.who-we-are .who-container article .bio-two-cont,
.who-we-are .who-container article .bio-four-cont,
.who-we-are .who-container article .bio-six-cont {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  .who-we-are .who-container article .bio-two-cont,
  .who-we-are .who-container article .bio-four-cont,
  .who-we-are .who-container article .bio-six-cont {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .who-we-are .who-container article .bio-two-cont,
  .who-we-are .who-container article .bio-four-cont,
  .who-we-are .who-container article .bio-six-cont {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
}
footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
footer p {
  font-size: 1.5rem;
  font-family: 'Public Sans', sans-serif;
}
