.bg-one{
  position: absolute;
  background: rgba(114, 95, 89, 0.85);
  border-radius: 5px;
  
  height: 50vh;
  left: 1rem;
  right: 1rem;
  z-index: -10;
}

.bg-two{
  position: absolute;
  background: rgba(62, 51, 47, 0.75);
  border-radius: 5px;
  top: 20rem;
  left: 10rem;
  width: 50%;
  height: 70vh;
  z-index: -9;
}

.bg-three{
  position: absolute;
  background: rgba(170, 127, 63, 0.65);
  border-radius: 5px;
  top: 40rem;
  right: 5rem;
  width: 50%;
  height: 65vh;
  z-index: -8;

  @media @phone{
    right: 1vw;
    height: 55vh;
  }
}

.bg-four{
  position: absolute;
  background: rgba(146, 109, 53, 0.4);
  border-radius: 5px;
  top: 70rem;
  left: 5rem;
  width: 48%;
  height: 50vh;
  z-index: -8;

  @media @phone{
    top: 42rem;
    left: 1vw;
  }
}


.about-us{
  .displayFlex(column, center, center);
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  @media @phone{
    width: 100%;
  }
  
  .about-container{
    width: 70%;
    padding: 5% 10% 10% 10%;

    @media @tablet{
      width: 90%;
    }

    @media @phone{
      width: 100%;
    }

    .about-title{
      .displayFlex(row, flex-end, center);
      margin-bottom: 2vh;
      margin-right: 1vw;

      @media @phone{
        .displayFlex(row, center, center);
      }

      h2{
        font-family: @publicFont;
        font-size: 6rem;
        font-weight: 700;
        color: white;

        @media @phone{
          font-size: 5rem;
        }
      }//h2
    }//about title

    .text-img-cont{
      .displayFlex(column, center, center);
      text-align: center;
      padding: 2% 5%;
      background: white;
      border-radius: 10px;

      .about-text{
        text-align: right;
      }

      p{

        font-size: 2rem;
        line-height: 1.75;
        font-family: @publicFont;

        @media @tablet{
          font-size: 1.75rem;
        }
        @media @phone{
          font-size: 1.6rem;
        }

        .bold{
          font-weight: 600;
        }

        .underline{
          text-decoration: underline;
        }
      }//p

      .rv-img-cont{
        margin-top: 2vh;
        
        img{
          width: 100%;
          border-radius: 5px;
        }
      }
    }//about text
  }//about container
}//about us