//======ABOUT SECTION==========
.about-section{
  width: 80%;
  margin: 0 auto;
  margin-top: 2vh;

  @media @phone{
    width: 90%;
  }

  .about-title{
    text-align: right;

    @media @phone{
      text-align: center;
    }

    h2{
      padding: 2vh 2%;
      font-size: 4rem;

      @media @phone{
        font-size: 5rem;
      }
    }
  }

  h2{
    font-family: @publicFont;
    font-weight: 700;
  }//h2

  p{
    font-family: @publicFont;
  }//p

  .about-article-cont{
    margin-top: 0vh;
  }//about article cont

//=====LINE BREAK=====
  hr{
    margin: 4vh auto;
    background: black;
    border: none;
    height: 1px;
    width: 90%;
  }

//=====BIO ONE=====
  .cont-one{
    .displayFlex(row, flex-start, center);

    @media @phone{
      .displayFlex(column, center, center);
    }
    width: 100%;
    .img-cont{
      width: 30%;

      @media @phone{
        width: 100%;
      }
    }
    .about-text{
      width: 70%;
      padding: 0 5%;

      @media @phone{
        .displayFlex(column, center, center);
        width: 100%;
        padding: 0;
        margin-top: 3vh;
      }
      h2{
        font-size: 2.5rem;
        margin-bottom: 3vh;

        @media @phone{
          font-size: 3rem;
        }
      }//h2

      P{
        font-size: 1.5rem;
        line-height: 1.5;
        @media @phone{
          font-size: 2rem;
        }
      }//p
    }//about text
  }//cont one

//=====BIO TWO=====
  .cont-two{
    .displayFlex(row-reverse, flex-start, center);

    @media @phone{
      .displayFlex(column, center, center);
    }
    .img-cont{
      width: 30%;

      @media @phone{
        width: 100%;
      }
    }
    .about-text{
      width: 70%;
      padding: 0 5%;

      @media @phone{
        .displayFlex(column, center, center);
        width: 100%;
        padding: 0;
        margin-top: 3vh;
      }
      h2{
        font-size: 2.5rem;
        margin-bottom: 3vh;
        @media @phone{
          font-size: 3rem;
        }
      }//h2
      P{
        font-size: 1.5rem;
        line-height: 1.5;
        @media @phone{
          font-size: 2rem;
        }
      }//p
    }//about text
  }//cont two

//=====BIO THREE=====    
  .cont-three{
    .displayFlex(row, flex-start, center);

    @media @phone{
      .displayFlex(column, center, center);
    }
    .img-cont{
      width: 30%;

      @media @phone{
        width: 100%;
      }
    }
    .about-text{
      width: 70%;
      padding: 0 5%;

      @media @phone{
        .displayFlex(column, center, center);
        width: 100%;
        padding: 0;
        margin-top: 3vh;
      }
      h2{
        font-size: 2.5rem;
        margin-bottom: 3vh;

        @media @phone{
          font-size: 3rem;
        }
      }//h2

      P{
        font-size: 1.5rem;
        line-height: 1.5;

        @media @phone{
          font-size: 2rem;
        }
      }//p
    }//about text
  }//cont three

//=====BIO FOUR=====    
  .cont-four{
    .displayFlex(row-reverse, flex-start, center);

    @media @phone{
      .displayFlex(column, center, center);
    }
    .img-cont{
      width: 30%;

      @media @phone{
        width: 100%;
      }
    }
    .about-text{
      width: 70%;
      padding: 0 5%;

      @media @phone{
        .displayFlex(column, center, center);
        width: 100%;
        padding: 0;
        margin-top: 3vh;
      }
      h2{
        font-size: 2.5rem;
        margin-bottom: 3vh;

        @media @phone{
          font-size: 3rem;
        }
      }//h2
      P{
        font-size: 1.5rem;
        line-height: 1.5;

        @media @phone{
          font-size: 2rem;
        }
      }//p
    }//about text
  }//cont four

//=====BIO FIVE=====    
  .cont-five{
    .displayFlex(row, flex-start, center);

    @media @phone{
      .displayFlex(column, center, center);
    }
    .img-cont{
      width: 30%;

      @media @phone{
        width: 100%;
      }
    }
    .about-text{
      width: 70%;
      padding: 0 5%;

      @media @phone{
        .displayFlex(column, center, center);
        width: 100%;
        padding: 0;
        margin-top: 3vh;
      }
      h2{
        font-size: 2.5rem;
        margin-bottom: 3vh;

        @media @phone{
          font-size: 3rem;
        }
      }//h2

      P{
        font-size: 1.5rem;
        line-height: 1.5;

        @media @phone{
          font-size: 2rem;
        }
      }//p
    }//about text
  }//cont five

//=====BIO SIX=====    
  .cont-six{
    .displayFlex(row-reverse, flex-start, center);

    @media @phone{
      .displayFlex(column, center, center);
    }
    .img-cont{
      width: 30%;

      @media @phone{
        width: 100%;
      }
    }
    .about-text{
      width: 70%;
      padding: 0 5%;

      @media @phone{
        .displayFlex(column, center, center);
        width: 100%;
        padding: 0;
        margin-top: 3vh;
      }
      h2{
        font-size: 2.5rem;
        margin-bottom: 3vh;

        @media @phone{
          font-size: 3rem;
        }
      }//h2
      P{
        font-size: 1.5rem;
        line-height: 1.5;

        @media @phone{
          font-size: 2rem;
        }
      }//p
    }//about text
  }//cont four
}//about section