.landing-body{
  width: 100%;

  
//=======LANDING PAGE======

  .landing-container{
    .displayFlex(column, center, center);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("images/rv-on-lake.png");
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    height: 94vh;

    .landing-content{
      .displayFlex(column, center, center);

      .heading{
        .displayFlex(column, center, flex-start);

        h1{
          font-size: 10rem;
          color: white;
          font-family: @robotFont;
          font-weight: 700;

          img{
            width: 30%;
          }
        }//h1
      }//heading
  
      .heading-btn{
        margin: 3vh 0;
        margin-top: 7vh;
        text-align: center;

        width: 90%;
        background: #DF7325;
        padding: 0.5rem 2rem;
        border-radius: 5px;

        &:hover{
          background: rgb(197, 101, 32);
          transition: 1s;
        }

        @media @phone{
          margin-top: 15vh;
        }

        a{
          font-size: 2.5rem;
          font-family: @publicFont;   
          width: 100%;       
          
          transition: 1s;
          color: white;
          text-decoration: none;

          @media @phone{
            font-size: 3rem;
          }
        }//a
      }//heading btn
    }//landing content
  }//landing container


//=====ARROW DIVIDER=====

  .arrow-down{
    .displayFlex(row, center, center);
    width: 100%;
    .arrow-container{
      img{
        height: 5vh;
        transition: 3s;

        &:hover{
          transition: 1s;
          transform: scale3d(1.1, 1.1, 1.1);
        }//hover
      }//img
    }//arrow container
  }//arrow down
}//landing body